@import "tailwindcss";
@import "@fontsource/montserrat-alternates";
@import "@fontsource/montserrat-alternates/400.css";
@import "@fontsource/montserrat-alternates/400-italic.css";

@theme{
    --color-primary: #272030;
    --color-secondary-orange: #f08a4f;
    --color-secondary-pink: #c2858c;
    --color-offwhite: #e8e0db;
    --color-black: #010101;
}

body {
  font-family: 'Montserrat Alternates', sans-serif;
  @apply bg-[#fefefe];
}

button {
    @apply cursor-pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;               /* Hauteur de la barre */
  background: #f08a4f;       /* Couleur de la barre remplie */
  border-radius: 5px;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;  /* Enlever les styles par défaut */
  appearance: none;
  width: 20px;               /* Taille du curseur */
  height: 20px;
  background: #f08a4f;       /* Couleur du curseur */
  border-radius: 50%;        /* Curseur rond */
  cursor: pointer;           /* Curseur en forme de main */
  translate: 0 -6px;
}